.button {
  padding: 6px 10px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
}

.button-primary {
  background-color: #3d6fce;
  border-width: 0;
  color: white;
}
