.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 12px;
  width: 100%;
  border-bottom: 2px solid black;
}

.header-input input {
  margin: 8px;
  width: 120px;
  height: 32px;
}
